.node--type-article  {
  &.node--view-mode-full {
    display: flex;
    flex-flow: row wrap;

    @media (max-width: 767px) {
      flex-flow: column;
    }

      .article__title {
        margin-bottom: 48px;
      }

    .article__lead {
      &::after {
        content: '';
        display: block;
        margin-top: 48px;
        width: 60px;
        height: 3px;
        background-color: var(--hdbt-color-black);
      }
    }

    .main_content {
      width: 100%;
      order: 2;

      @include breakpoint($breakpoint-l) {
        width: 75%;
        order: 1;
      }

      // Override Helsinki text paragraph left padding
      .text__container {
        padding-left: 0 !important;

        .text__text-content {
          padding-left: 0 !important;
        }
      }
    }

    .article__toc {
      margin-top: 24px;
      width: 100%;
      order: 1;

      @include breakpoint($breakpoint-l) {
        margin-top: 64px;
        width: 25%;
        order: 2;
      }

      .article-table-of-contents {
        background-color: var(--color-black-10);
        padding: 32px 24px;

        .label {
          display: block;
          font-size: 1.5rem;
          margin-bottom: 16px;
        }

        ul {
          list-style: none;
          margin: 0 16px;
          padding: 0;

          li {
            font-size: 1.2rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
