.node--type-article  {
  &.node--view-mode-full {
    display: flex;

    @media (max-width: 767px) {
      flex-flow: column-reverse;
    }

    .main_content {
      flex-basis: 100%;
    }

    .article-header__container {
      .article__title {
        margin-bottom: 48px;
      }

      .article__lead {
        &::after {
          content: '';
          display: block;
          margin-top: 32px;
          width: 60px;
          height: 3px;
          background-color: var(--hdbt-color-black);
        }
      }
    }

    .article-toc__container {
      flex-basis: 33%;

      @media (max-width: 767px) {
        width: 100%;
        padding: 0 24px;
      }

      .article-table-of-contents {
        background-color: var(--color-black-10);
        padding: 32px 24px;

        .label {
          display: block;
          font-size: 1.5rem;
          margin-bottom: 16px;
        }

        ul {
          list-style: none;
          margin: 0 16px;
          padding: 0;

          li {
            font-size: 1.2rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
