.node--type-landing-page  {
  &.node--view-mode-full {
    .hero--default:not(.hero--diagonal) {
      @include breakpoint($breakpoint-m) {
        .hds-koros {
          color: #9ec9eb;
        }
      }   
    }

    .trends__container {
      display: flex;

      .trends-liftup {
        margin: 12px;
        flex: 1 1 33%;

        .paragraph {
          max-width: 100%;
          font-weight: bold;
          text-decoration: none;

          picture {
            max-width: 100%;

            img {
              max-width: 100%;
            }
          }

          p {
            font-weight: normal;
          }
        }
      }
    }
  }
}
