{% if content.nodes is not empty %}
  <div class="dropdown" aria-expanded="false">
    <button class="dropbtn">{{ 'Select'|t }}</button>
    <div class="dropdown-content">
      {% for node in content.nodes %}
        {{ node.link|render }}
      {% endfor %}
    </div>
  </div>
{% endif %}
