{% if content.nodes is not empty %}
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      {% for node in content.nodes %}
        {{ node.link|render }}
      {% endfor %}
    </div>
  </div>
{% endif %}
