<!-- Add you custom twig html here -->
{% if content.nodes is not empty %}
  <div class="phenomenon-article-links">
    {% for node in content.nodes %}
      {{ node.link|render }}
    {% endfor %}
  </div>
{% endif %}
