#block-helstra-sitebranding {
  display: flex;
  align-items: center;

  .name--header {
    font-size: 18px;
    line-height: 18px;
    display: none;

    @include breakpoint($breakpoint-m) {
      display: initial;
      margin-left: 12px;
    }
  }
}
